services:
  urbackup:
    image: uroni/urbackup-server
    container_name: urbackup
    restart: unless-stopped
    ports:
      - 55413:55413
      - 55414:55414
      - 55415:55415
      - 55416:55416/udp
    volumes:
      - /"path de guardado"/urbackup/config/urbackup/database:/var/urbackup
      - /"path de guardado"/backups:/backups
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/madrid
